OPENAI_API_KEY=
AI_DEVS_API_KEY=
AI_DEVS_URL=https://tasks.aidevs.pl
TODOIST_API_KEY=...
LANGCHAIN_TRACING_V2=false # Przestaw na true, jeśli posiadasz dostęp do LangSmith
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=ls__...
LANGCHAIN_PROJECT=aidevs
QDRANT_URL=http://localhost:6333
YOUTUBE_API_KEY=...

POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NO_SSL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
